<!DOCTYPE html>
<html lang="en">
<head>
	{{! Document Settings }}
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	{{! Page Meta }}
	<title>{{meta_title}}</title>
	<meta name="description" content="{{meta_description}}" />
	<meta name="keywords" content="">
	<meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1, user-scalable=no" />
	<!-- fav icons -->
	<link rel="shortcut icon" href="{{asset "images/favicon.ico"}}">
	<link rel="apple-touch-icon" href="{{asset "images/apple-touch-icon.png"}}">
	<link rel="apple-touch-icon" sizes="72x72" href="{{asset "images/apple-touch-icon-72x72.png"}}">
	<link rel="apple-touch-icon" sizes="114x114" href="{{asset "images/apple-touch-icon-114x114.png"}}">
	<!-- stylesheets -->
	{{! Styles'n'Scripts }}
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,700,400%7CRoboto+Slab' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="{{asset "css/bootstrap.min.css"}}">
	<link rel="stylesheet" href="{{asset "css/font-awesome.min.css"}}">
	<link rel="stylesheet" type="text/css" href="{{asset "css/screen.css"}}">
	<link rel="stylesheet" type="text/css" href="{{asset "css/hl-styles/monokai_sublime.css"}}">
	<!-- only for demo -->
	<!-- <link rel="stylesheet" type="text/css" href="{{asset "demo-assets/css/colpick.css"}}"> -->
	{{! inserting theme config partial}}
	{{> config}}
	{{! Ghost outputs important style and meta data with this tag }}
    {{ghost_head}}
</head>
<body class="{{body_class}}">
	<a href="https://github.com/App-vNext/Polly" taget="_blank"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/e7bbb0521b397edbd5fe43e7f760759336b5e05f/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677265656e5f3030373230302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png"></a>
	{{! insert header partial}}
	{{> header}}

	{{{body}}}

	{{! insert footer partial}}
	{{> footer}}